#app {
  border-bottom: 0;
  font: {
    size: 3rem;
    style: italic;
    weight: bold;
  }
  height: 7rem;
  letter-spacing: 1rem;
  line-height: 5rem;
  text: {
    align: center;
    transform: uppercase;
  }
}
