sinoci-navbar {
  display: block;
  height: 71px;

  .affix {
    width: 100%;
    top: 0;
  }

  .affix-top {
    background: none;
    box-shadow: none;
  }

  .navbar-nav {

    li:hover > .dropdown-menu {
      display: block;

      a {
        line-height: 24px;
        padding-right: 0;
        transition: padding-left .4s;

        &:hover {
          padding-left: 28px;
        }
      }

      .active > a {
        background: linear-gradient(to right bottom, #2196F3, #03A9F4);
      }
    }

    .fa {
      font-size: 18px;
    }
  }
}