@import 'sinoci/message';

sinoci-navbar {
  display: block;
  height: 71px;

  .container {
    position: relative;
  }

  .affix {
    width: 100%;
    top: 0;
  }

  .affix-top {
    background: #fff;
    box-shadow: none;
  }

  .navbar-nav {

    li:hover > .dropdown-menu {
      display: block;

      a {
        line-height: 24px;
        padding-right: 0;
        position: relative;
        transition: padding-left .33s;

        &:hover {
          padding-left: 28px;
        }
      }

      .active > a {
        background: linear-gradient(to right bottom, #2196F3, #03A9F4);
      }
    }

    .fa {
      font-size: 18px;
    }

    .badge {
      background: linear-gradient(to right bottom, #2196F3, #03A9F4);
      display: block;
      height: 10px;
      padding: 0;
      position: absolute;
      right: 3px;
      top: 7px;
    }

    .label {
      background: linear-gradient(to right bottom, #2196F3, #03A9F4);
      position: absolute;
      right: 7px;
      top: 7px;
    }
  }
}